
header{
  padding-top: 1rem;
}
form{
  width: 100%;

  .warning{
    color:red;
  }
  #add.row{
      --bs-gutter-x: 0;
  }
}

div{
    .form-group.row{
      padding-bottom: 0.5rem;
    }
    .border {
      > p{
        text-align: center;
      }

      > input{
        margin: 1rem 0 0 1rem;
      }
  }
}

html, body{
  height: 100%;
  margin: 0;
}

.wrapper{
  min-height:calc(100% - 5rem);
}

footer{
  bottom: 0;
  height: auto;
  padding-bottom: 2rem;
}
